@media only screen and (max-width: 768px) {
  .Humberger-close {
    position: fixed;
    right: 0;
    top: 0;
  }
  .Humberger div,
  .Humberger-close div {
    width: 30px;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
  }
  .Humberger,
  .Humberger-close {
    cursor: pointer;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 10;
  }
  .Humberger-close div {
    z-index: 10;
    background: black;
  }
  .Humberger-close div:nth-child(1) {
    transform: rotate(45deg) translate(0, -1px);
  }
  .Humberger-close div:nth-child(3) {
    transform: rotate(-45deg) translate(15px, -14px);
  }
  .Humberger-close div:nth-child(2) {
    transform: translateX(15px);
    opacity: 0;
  }
  .Humberger {
    position: fixed;
    right: 0;
    top: 10px;
    z-index: 999;
  }
}
